body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --calculator-width: 360px;
  --border-color: gray;
  --debug-color-1 : rgba(170,255,0,0.2);
  --debug-color-2 : rgba(255,170,0,0.2);
  --debug-color-3 : rgba(0,170,255,0.2);
  --debug-color-4 : rgba(170,0,255,0.2);
  --debug-color-5 : rgba(0,170,255,0.2);
}

.calculator-container {
  border: 1px solid var(--border-color);
  display: grid; 
  margin: 120px auto;
  width: var(--calculator-width);
}

.calculator-display--screen {
  padding: calc(var(--calculator-width)/18) 0;
}

.calculator-display,
.calculator-computation {
  padding-right: calc(var(--calculator-width)/18);
  text-align: right;
}
.calculator-display {
  font-size: 24px;
  padding-bottom: calc(var(--calculator-width)/18); 
}
.calculator-row {
  border-top: 1px solid var(--border-color);
  display: flex;
  line-height: calc(var(--calculator-width)/4);
  height: calc(var(--calculator-width)/4);
}

.calculator-keypad {
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
  height: calc(var(--calculator-width)/4);
  width: calc(var(--calculator-width)/4);
}

.calculator-box:first-child {
  border-left: none;
}

button {
  cursor: pointer;
}